</html>
<head>
 <script src="https://code.createjs.com/easeljs-0.8.0.min.js"></script>
  <script src="scripts/player.js"></script>
<script type = "text/javascript">
  var canvas;
  var stage;
  var imgPlayer = new Image();
  var imgPlatform = new Image();
  var Player;
  var Platform;
  var Platform2;
  var collideables = [];
  var text = new createjs.Text("Test", "20px Arial", "#ff7700");
  var controls = new createjs.Text("Test", "20px Arial", "#00ff00");
  var KEYCODE_LEFT = 37;
  var KEYCODE_RIGHT = 39;
  var KEYCODE_UP = 38;
  
  document.onkeydown=handleKeyDown;
  document.onkeyup=handleKeyUp;
	  
	function init() {
		canvas = document.getElementById("canvas");
		
		// Creates the stage
		stage = new createjs.Stage(canvas);
		imgPlatform.src = "img/platform.png";
		imgPlayer.src = "img/player.png";
		// Loads the image for player
		imgPlayer.onload = handleLoad;
		
	}
	 
   getCollideables = function() { 
   return collideables; 
   };

    function handleLoad(e){
        Player = new Player(imgPlayer);
        Player.x = 170;
        Player.y = 100;
		Player.setFlip(13,13,false);
        Player.gotoAndPlay("stand");
		
		Platform = new createjs.Bitmap(imgPlatform);		
		Platform.y = 280;
		Platform.x = 100;
		Platform.snapToPixel = true;
		collideables.push(Platform);
		stage.addChild(Platform);
		
		stage.addChild(Platform2);
		
		//Testing
		
		text.x = 10;
		text.text ="Vertical collision and movement testing, walk off edge";
		controls.x = 200;
		controls.y = 50;
		controls.text ="Use Arrows to move, Up to jump";
		
		stage.addChild(text);
		stage.addChild(controls);
		
		stage.addChild(Player);
		createjs.Ticker.addEventListener("tick", tick);
		createjs.Ticker.setFPS(30);
		
		
    }
    function tick(e){
		Player.tick();
		//text.text = getBounds(Player).height;
        stage.update();
    }


	function  handleKeyDown(e){
		if(!e){ var e = window.event; }
		switch(e.keyCode){
			case KEYCODE_LEFT:  // When Left arrow is pushed
			if(Player.isIdle && Player.onGround){
			Player.gotoAndPlay("beginWalk") // Begins walk animation
			Player.setFlip(13,13,true); // Flip walk animation
			Player.isIdle = false;
			Player.velocity.x = 3;
			}
			break;
			case KEYCODE_RIGHT: // When Right arrow is pushed
			if(Player.isIdle && Player.onGround){
			Player.gotoAndPlay("beginWalk") 
			Player.setFlip(13,13,false);
			Player.isIdle = false;
			Player.velocity.x = 3;
			}
			break;
			case KEYCODE_UP: // When Up arrow is pushed
			if(Player.onGround){
				if(Player.direction == 1){
					Player.setFlip(14,16,false);
				}else{
					Player.setFlip(14,16,true);
				}			
			Player.groundedAnim = false;
			Player.jump();
			Player.gotoAndPlay("jump") 
			Player.isIdle = false;
			
			}
			break;
		}
	}

	function  handleKeyUp(e){
		if(!e){ var e = window.event;}
		switch (e.keyCode){
		// Go back to idle animation if no button is held if not jumping
		case KEYCODE_LEFT:;
		case KEYCODE_RIGHT:	
		{
		if(Player.onGround){
			Player.isIdle = true;
			Player.gotoAndPlay("stand");
			Player.velocity.x = 0;
		}
		}
		break;
		}

	}
	function calculateIntersection(rect1, rect2, x, y) {
	  // prevent x|y from being null||undefined
	  x = x || 0; y = y || 0;
	 
	  // calculate the center of each rectangle
	  // and half of width and height
	  var dx, dy, r1={}, r2={};
	  r1.cx = rect1.x+x+(r1.hw = (rect1.width /2));
	  r1.cy = rect1.y+y+(r1.hh = (rect1.height/2));
	  r2.cx = rect2.x + (r2.hw = (rect2.width /2));
	  r2.cy = rect2.y + (r2.hh = (rect2.height/2));
	 
	  dx = Math.abs(r1.cx-r2.cx) - (r1.hw + r2.hw);
	  dy = Math.abs(r1.cy-r2.cy) - (r1.hh + r2.hh);
	 
	  if (dx < 0 && dy < 0) {
		return {width:-dx,height:-dy};
	  } else {
		return null;
	  }
	}

	function getBounds(obj) {
	  var bounds={x:Infinity,y:Infinity,width:0,height:0};
	  if ( obj instanceof createjs.Container ) {
		var children = obj.children, l=children.length, cbounds, c;
		for ( c = 0; c < l; c++ ) {
		  cbounds = getBounds(children[c]);
		  if ( cbounds.x < bounds.x ) bounds.x = cbounds.x;
		  if ( cbounds.y < bounds.y ) bounds.y = cbounds.y;
		  if ( cbounds.width > bounds.width ) bounds.width = cbounds.width;
		  if ( cbounds.height > bounds.height ) bounds.height = cbounds.height;
		}
	  } else {
		var gp,gp2,gp3,gp4,imgr;
		if ( obj instanceof createjs.Bitmap ) {
		  imgr = obj.image;
		} else if ( obj instanceof createjs.Sprite ) {
		  if ( obj.spriteSheet._frames && obj.spriteSheet._frames[obj.currentFrame] && obj.spriteSheet._frames[obj.currentFrame].image )
			imgr = obj.spriteSheet.getFrame(obj.currentFrame).rect;
		  else
			return bounds;
		} else {
		  return bounds;
		}
	 
		gp = obj.localToGlobal(0,0);
		gp2 = obj.localToGlobal(imgr.width,imgr.height);
		gp3 = obj.localToGlobal(imgr.width,0);
		gp4 = obj.localToGlobal(0,imgr.height);
	 
		bounds.x = Math.min(Math.min(Math.min(gp.x,gp2.x),gp3.x),gp4.x);
		bounds.y = Math.min(Math.min(Math.min(gp.y,gp2.y),gp3.y),gp4.y);
		bounds.width = Math.max(Math.max(Math.max(gp.x,gp2.x),gp3.x),gp4.x) - bounds.x;
		bounds.height = Math.max(Math.max(Math.max(gp.y,gp2.y),gp3.y),gp4.y) - bounds.y;
	  }
	 
	  return bounds;
}

  
  
</script>
</head>

<body onload="init();">
  <canvas id="canvas" width="500" height="300" style="background-color:#333"></canvas>
</body>
</html>